<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mi1.roberben_tougmaa_GrowCerveau">

    <application
        android:name="mi1.roberben_tougmaa_GrowCerveau.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_brain_big"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.HomePageActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.ConnectionActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.CompteActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.InscriptionActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.NavigationActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.QASActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.QATActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.QCMActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.ResultActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="mi1.roberben_tougmaa_GrowCerveau.ExerciceActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>